*{
padding:0;
margin:0;
}
body{
background:#dadada;
}
main {
min-height:100vh;
display:flex;
align-items:center;
flex-direction:column;
}
header h3{
text-align:center;
margin:1rem 0;
}
form {
display:flex;
justify-content:center;
}
input {
outline:none;
}
button {
padding:5px 10px;
}
.colors{
margin:1rem 0;
display:flex;
flex-wrap:wrap;

}
.single-color{
width:80px;
height:80px;
color:white;
font-weight:bold;
 -webkit-text-stroke:0.6px black;
}
.error{
background:1px solid red;
}
.alert{
font-size:10px;
}